*{
     margin: 0px;
     padding: 0px;
     font-family: cursive;
}
body{
    background-color: rgb(227, 216, 216);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.frame{
    height: 420px;
    width: 280px;
    background-color: white;
    padding:10px ;
    box-shadow: 5px 5px 15px #68cdca,-5px -5px 10px #ffff;
   

}
.heading{
    text-align: center;
    padding: 10px;
    font-size: 18px;

}
#display{
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    box-shadow:inset 2px 2px 10px #b4edf4,inset -5px -5px 10px #ffffff;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;

}
.btn-group{
    display: flex;
    justify-content: space-around;

}
.btn{
    width:55px;
    height:55px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 10px #b6acac,-5px -5px 10px #fafaf4;
    margin-bottom: 18px;
}
.btn:active{
    box-shadow: inset 1px 1px 2px #babeec,inset -1px -1px 2px #ffffff;
}
.btn:hover{
    background-color: red;
    color: white;
    cursor: pointer;

}
